<div class="mt-4 ml-4 col-4">
    <select class="browser-default custom-select" name="selectReport" disabled>
                  <option selected >{{member.selectReport}}</option>
                  <option value="Phòng">Phòng </option>
                  <option value="Máy">Máy </option>
                  <option value="Phần mềm">Phần mềm</option>
                  <option value="Internet">Internet</option>
                  <option value="Khác">Khác</option>
    </select>
    <textarea id="form7" class="md-textarea form-control mt-2" rows="3" name="textareareport" disabled>{{member.textareareport}}</textarea>
</div>